<div class="row align-center">
  <div class="large-3 medium-4 small-6 column text-center">
     <div class="mascot">
      </div>
  </div>
</div>
<div class="row">
  <div class="large-12 text-center column page-title"> 
  <h1 class="gamma">Your Cart is empty</h1>
    <h3 class="delta"><div>What are you waiting for?</div> <a href="/collections/all">Get started here</a></h3>
  </div>
</div>