@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato|Oswald:500|Poppins:800&display=swap');

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/HelveticaNeueMedium.eot?49473');
    src: url('//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/HelveticaNeueMedium.eot?49473') format('embedded-opentype'),
         url('//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/HelveticaNeueMedium.woff2?49473') format('woff2'),
         url('//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/HelveticaNeueMedium.woff?49473') format('woff'),
         url('//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/HelveticaNeueMedium.ttf?49473') format('truetype'),
         url('//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/HelveticaNeueMedium.svg?49473#HelveticaNeueMedium') format('svg');
}


